body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar navbar-light bg-light {
    width: 100vw;
    margin-left: 100px;
}

#allandnav{
    width: 100vw;
    padding: 0px;
    margin-left: 2px;
}

#sidepanel {
    height: 100vh;
    background-color: rgb(0,0,0,.1);
    width: 15vw;
    margin: 0px;
}

nav {
    position: absolute;
    height: 10vh;
    padding: 0px;
    width: 85vw;
    float: right;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#brand {
    height: 65px;
}

#brand h3 {
    margin-left: 35%;
    margin-top: 5%;
    font-size: relative;
}

#category {
    border-top: 3px solid rgba(0,0,0,.1);
}

#categorycontainer {
    width: 100%;
}

#categorycontainer li a{
    margin-left: 15%;
    max-width: 0px;
}

#categorycontainer span{
    float: left;
    position: absolute;
}

#display{
    background-color: cadetblue;
    padding: 0px;
    margin: 0px;
}

#container-nav{
    padding:0px;
    margin: 0px;
}
